<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Listing</title>
</head>
<body>
    <form action="http://127.0.0.1:8000/info/product/productList" method="post">
        <label>productname:</label><br>
        <input type="product_name" id="name" name="product_name" value="product_name"><br>
        <label> productprice:</label><br>
        <input type="product_price" id="text" name="product_price" value="product_price"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>